# Port to run the server on (default: 3000)
PORT=3000

# SQLite local database file path
DATABASE_URL=file:./prisma/dev.db

# Better Auth Configuration
BETTER_AUTH_SECRET=some_secret_key_change_me
BETTER_AUTH_URL=http://localhost:3000

